useDynLib(topicmodels)

importFrom(modeltools, posterior)
importFrom(stats, terms)
importFrom(stats4, logLik)

export(LDA,
       CTM,
       distHellinger,
       get_terms,
       get_topics,
       build_graph,
       terms,
       topics)

exportClass(TopicModel,
            LDA,
            CTM,
            LDA_VEMcontrol,
            LDA_Gibbscontrol,
            CTM_VEMcontrol,
            OPTcontrol)

exportMethods(logLik,
              posterior)

S3method(distHellinger, default)
S3method(distHellinger, simple_triplet_matrix)
